<div class="mb-3 row">
	<div class="col-12 col-md-9">
		<form class="d-flex w-100 ms-auto me-auto" role="search">
			<input
				class="form-control me-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="btn btn-outline-primary" type="submit">Search</button>
		</form>
	</div>
	<!------Add product-------->
	<div class="col-12 col-md-3">
		<button
			class="btn btn-primary w-100"
			data-bs-toggle="modal"
			data-bs-target="#product"
		>
			Add new product
		</button>
	</div>
</div>
