<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Catalog</title>
        <!-- Latest jQuery CDN -->
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"
        ></script>
        <!-- Latest Bootstrap CDN -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- Latest Material Icons (icons) CDN -->
        <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet"
        />
        <!-- Google fonts CDN -->
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <!-- LESS Stylesheets CDN -->
        <link rel="stylesheet/less" href="../Assets/styles/header.less" />
        <link rel="stylesheet/less" href="../Assets/styles/catalog.less" />
        <link rel="stylesheet/less" href="../Assets/styles/custom_colors.less" />
        <script src="https://cdn.jsdelivr.net/npm/less"></script>
        <!-- Bootstrap JS CDN -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>
        <!-- JS Scripts -->
        <script src="../Assets/scripts/loginbar.js"></script>
        <script src="../Assets/scripts/navbar_user.js"></script>
        <script src="../Assets/scripts/catalog.js"></script>
    </head>
    <body>
        <!-- Insert login bar partial view -->
        <header>
            <div id="loginbar"></div>
            <div id="navbar"></div>
        </header>
        <!-- Collapsible category sidebar -->
        <div class="container">
            <div class="row">
                <div class="flex-shrink-0 bg-white col-2 border">
                    <div class="form-group has-search mt-3">
                        <span class="material-icons-outlined form-control-feedback"> search </span>
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <a
                        href="/"
                        class="d-flex align-items-center pb-3 my-3 link-dark text-decoration-none border-bottom"
                    >
                        <span class="material-icons-outlined me-2"> child_care </span>
                        <span class="fs-5 fw-semibold">Categories</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button
                                class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#apparel-collapse"
                                aria-expanded="false"
                            >
                                Apparel
                                <span class="badge rounded-pill badge-primary text-center">4</span>
                            </button>
                            <div class="collapse" id="apparel-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">Accessories</a></li>
                                    <li><a href="#" class="link-dark rounded">Apparel</a></li>
                                    <li><a href="#" class="link-dark rounded">Bloomers</a></li>
                                    <li><a href="#" class="link-dark rounded">Bodysuits</a></li>
                                    <li><a href="#" class="link-dark rounded">Bottoms</a></li>
                                    <li><a href="#" class="link-dark rounded">Clothing sets</a></li>
                                    <li><a href="#" class="link-dark rounded">Coats</a></li>
                                    <li><a href="#" class="link-dark rounded">Diaper covers</a></li>
                                    <li><a href="#" class="link-dark rounded">Footies</a></li>
                                    <li><a href="#" class="link-dark rounded">Rompers</a></li>
                                    <li><a href="#" class="link-dark rounded">Tops</a></li>
                                    <li><a href="#" class="link-dark rounded">Underwear</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button
                                class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#toys-collapse"
                                aria-expanded="false"
                            >
                                Toys
                                <span class="badge rounded-pill badge-primary text-center">4</span>
                            </button>
                            <div class="collapse" id="toys-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">Activity play center</a></li>
                                    <li><a href="#" class="link-dark rounded">Balls</a></li>
                                    <li><a href="#" class="link-dark rounded">Bath toys</a></li>
                                    <li><a href="#" class="link-dark rounded">Blocks</a></li>
                                    <li><a href="#" class="link-dark rounded">Creative toys</a></li>
                                    <li><a href="#" class="link-dark rounded">Crib toys</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button
                                class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#bath-collapse"
                                aria-expanded="false"
                            >
                                Bath and care
                                <span class="badge rounded-pill badge-primary text-center">4</span>
                            </button>
                            <div class="collapse" id="bath-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">Bathing seats</a></li>
                                    <li><a href="#" class="link-dark rounded">Bathing tubs</a></li>
                                    <li><a href="#" class="link-dark rounded">Bathroom safety</a></li>
                                    <li><a href="#" class="link-dark rounded">Cleansers</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button
                                class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#seats-collapse"
                                aria-expanded="false"
                            >
                                Car seats
                                <span class="badge rounded-pill badge-primary text-center">4</span>
                            </button>
                            <div class="collapse" id="seats-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">Car seats</a></li>
                                    <li><a href="#" class="link-dark rounded">Car seats accessories</a></li>
                                    <li><a href="#" class="link-dark rounded">Booster car seats</a></li>
                                    <li><a href="#" class="link-dark rounded">Bunting bags</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Main content -->
                <div class="col-10">
                    <div class="row my-3">
                        <h1 class="col-9 display-6">Feeding (Page 2)</h1>
                        <div class="form-floating col-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Most popular</option>
                                <option value="1">Price ascending</option>
                                <option value="2">Price descending</option>
                            </select>
                            <label for="floatingSelect">Sort by</label>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">First</a>
                            </li>
                            <li class="page-item" disabled><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="row align-items-center">
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-6 col-md-3 text-decoration-none list-unstyled">
                            <div class="card">
                                <img class="card-img-top" src="../Assets/imgs/product1.jpg" alt="mouse" />
                                <div class="card-body">
                                    <a href="show_product.html" class="d-block"
                                        ><h5 class="card-title">Anti-colic baby bottle</h5></a
                                    >
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <span class="material-icons-sharp"> grade </span>
                                    <p class="card-text">Price: $4.99</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>
