<div class="px-3 py-1 border-bottom">
    <div class="navcontainer d-flex flex-wrap justify-content-center">
        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"></div>
        <div class="text-end">
            <a href="" class="btn btn-sm text-dark me-2">Hi, Mark!</a>
            <a href="" class="btn btn-sm btn-outline-primary">Log off</a>
            <a href="" class="btn btn-sm btn-light text-dark me-2">Sign in</a>
            <a href="" class="btn btn-sm btn-primary">Register</a>
        </div>
    </div>
</div>
